name: Deploy to Cloud Run

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
      REGION: us-central1
      REPO: library-api-repo
      SERVICE: library-api

    steps:
      - uses: actions/checkout@v4

      - uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - uses: google-github-actions/setup-gcloud@v2

      - run: gcloud auth configure-docker $REGION-docker.pkg.dev

      - name: Build & Push
        run: |
          IMAGE="$REGION-docker.pkg.dev/$PROJECT_ID/$REPO/$SERVICE:latest"
          echo "IMAGE=$IMAGE" >> $GITHUB_ENV
          docker build -t "$IMAGE" .
          docker push "$IMAGE"

      - name: Deploy
        run: |
          gcloud run deploy $SERVICE \
            --image "$IMAGE" \
            --region $REGION \
            --platform managed \
            --allow-unauthenticated \
            --port 8080 \
            --add-cloudsql-instances "$PROJECT_ID:$REGION:library-db" \
            --set-env-vars DATABASE_URL="${{ secrets.DATABASE_URL }}"